.container{
    display: flex;
    align-items: center;
    background-color: lightgray;
    border-radius: 30px;
    padding: 10px 15px;
    width: 75%;
    margin-left: 20px;
}
.container input{
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    display: block;
    padding: 10px;
    border: 2px solid #0f0f0f;
    border-radius:  5px;
    outline: none;
    font-size: 14px;
}
.micro{
    color: white;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.micro img{
    width: 20px;
    height: 20px;
}
.btn{
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    width: 150px;
    cursor: pointer;
}